<%- include('partials/header') -%>
<div class="container">

  <!--Profile Picture-->
  
  <div class="row col-12 justify-content-center">
    
      <img class="profile-pic" src="<%=guestProfile[0].profilePic%>" alt="profile pic">
      <%if(bio[0].Nickname == ""){%>
        <p class="bioName"><strong><%=bio[0].Name%></strong></p>
     <% }else{ %>
        <p class="bioName"><strong><%=bio[0].Nickname%></strong></p>
      <%}%>
      
  </div>

  <div>
      <form action="/friends?_method=PUT" method="POST" >
        <input class="hidden" type="text" name="friendId" value="<%=guestProfile[0].user%>">
        <button class="addbutton">Add Friend</button>
      </form>
  </div>


  <div class="row mt-5"> <!--this is the row for the form and the photos -->
     
    <!--Navbar-->
   <div class="navbar-container col-2"> <!--sidebar nav-->
    <div class="nav-container">
      <nav class="nav flex-column">
        <a class="nav-link nav-pills" aria-current="page" href="/profileEdit"><img class="nav-pic" src="<%= profile[0].profilePic%>" alt=""><i class="edit-user fa-solid fa-user-pen"></i></a>
        <a class="nav-link active nav-pills" href="/profile">HOME</a>
        <a class="nav-link nav-pills" href="/feed">FEED</a>
        <a class="nav-link nav-pills"href="/friends">FRIENDS</a>
      </nav>
    </div>
  </div>

    <div class=" profile-input-ct ms-1 col-8">
    
    <div class="h2section mt-4">
      <h2>Fun <span>Facts</span></h2>
    </div>
      <div class="biosec">
      <p>Name: <span><%=bio[0].Name%></span></p>
      <p>NickName: <span><%=bio[0].Nickname%></span></p>
      <p>Age: <span><%=bio[0].Age%></span></p>
      <p>Sign: <span><%=bio[0].Sign%></span></p>
      <p>Favorite Food: <span><%=bio[0].favoriteFood%></span></p>
      <p>Favorite Movie: <span><%=bio[0].favoriteMovie%></span></p>
      <p>Favorite Artist: <span><%=bio[0].favoriteArtist%></span></p>
      <p>Favorite Song: <span><%=bio[0].favoriteSong%></span></p>
      <p>Coolest thing about Me: <span><%=bio[0].Coolest%></span></p>
      </div>
    </div>

    <div class="h2section">

      <%if(bio[0].Nickname == ""){%>
        <h2 class="bioName"><%=bio[0].Name%>'s Friends</h2>
     <% }else{ %>
        <h2 class="bioName"><%=bio[0].Nickname%>'s Friends</h2>
      <%}%>
      
    </div>

   <div class="profile-input-ct friend-ct">
   
    <div class="friend-box">

    </div>

  
   </div>

   <div class="h2section">
    <%if(bio[0].Nickname == ""){%>
      <h2 class="bioName"><%=bio[0].Name%>'s Posts</h2>
   <% }else{ %>
      <h2 class="bioName"><%=bio[0].Nickname%>'s Posts</h2>
    <%}%>
   </div>
    <div class="col-10"> <!--this column takes up the second half of space (contains all the photos)-->
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5 pbox-pics">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
      </ul>
      <div class="row justify-content-center mt-5 mb-4">
        <a class="btn btn-primary" href="/feed">Return to Feed</a>
      </div>  
    </div>  
  
</div>
 

<%- include('partials/footer') -%>